<navigation></navigation>

<div class="container">
  <div class="row">
    
     <div class="col-md-6">

      <h1 class="form-signin-heading">Your profile</h1>

      <form  class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-3 control-label">Full name</label>
          <p class="form-control-static">{{ vm.user.fullname }}</p>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Email</label>
          <p class="form-control-static">{{ vm.user.email }}</p>
        </div>
      </form>

      <div class="container">
        <table  class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Systolic</th>
              <th>Diastolic</th>
              <th>MAP</th>
              <th>Pulse</th>
              <th>&nbsp</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td>&nbsp</td>
                <td><input type="text" class="form-control" ng-model="vm.record.payload.systolic"></td>
                <td><input type="text" class="form-control" ng-model="vm.record.payload.diastolic"></td>
                <td><input type="text" class="form-control" ng-model="vm.record.payload.map"></td>
                <td><input type="text" class="form-control" ng-model="vm.record.payload.pulse"></td>
                <td><button class="btn btn-primary" ng-click="vm.onSubmitRecord()">Submit</button></td>
                <td><button class="btn btn-info" ng-click="vm.onUpdateRecord()">Update</button></td>
            </tr>
            <tr ng-repeat="record in vm.records">
              <td>{{ record.source_info.device.name }}</td>
              <td>{{ record.payload.systolic }}</td>
              <td>{{ record.payload.diastolic }}</td>
              <td>{{ record.payload.map }}</td>
              <td>{{ record.payload.pulse }}</td>
              <td><button class="btn btn-danger" ng-click="vm.removeRecord(record._id)">Remove</button></td> 
              <td><button class="btn btn-warning" ng-click="vm.editRecord(record._id)">Edit</button></td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>
</div>